<div class="row">
  <div class="col-md-12">
    <h2>订单明细</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">商品明细</th>
          <th>单价</th>
        </tr>
      </thead>
      <tbody>
        <% @product_lists.each do |product_list| %>
          <tr>
            <td><%= product_list.product_name %></td>
            <td><%= product_list.product_price %></td>Tus
          </tr>
        <% end %>
      </tbody>
    </table>
    <span>总计 <%= render_cart_total_price(current_cart) %> RMB</span>
    <h2>寄送资讯</h2>
    <table class="table table-bordered">
      <tr>
        <td>订单人</td>
      </tr>
      <tr>
        <td><%= @order.billing_name %></td>
      </tr>
      <tr>
        <td>收件人</td>
      </tr>
      <tr>
        <td><%= @order.shipping_name %></td>
      </tr>
    </table>
  </div>
</div>
<%= link_to("以支付宝支付", "#", method: :post, class: "btn btn-danger pull-right") %>
<%= link_to("以微信支付", "#", method: :post, class: "btn btn-danger pull-right") %>
