<div class="category-bar">
  <div class="productCategory-item">
    <%= link_to "茶", products_path(category: "茶") %>
    <%= link_to "酒", products_path(category: "酒") %>
    <%= link_to "香", products_path(category: "香") %>
    <%= link_to "花", products_path(category: "花") %>
    <%= link_to "餐", products_path(category: "餐") %>
  </div>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= link_to(product.title, product_path(product)) %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>

<%= render :partial => "product_favorite", :collection => @products, as: :product %>
