<div class="row">
  <div class="col-md-6">
    <%= link_to product_path(@product) do %>
      <% if @product.image.present? %>
        <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <p><%= @product.description %></p>
    <br><br><br><br>
    <p>数量：<%= @product.quantity %></p>
    <p>￥：<%= @product.price %></p>
  </div>
</div>
<% if @product.quantity > 0 %>
  <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-lg btn-danger pull-right") %>
<% else %>
  <span class="pull-right"> 商品已销售一空，无法购买 </span>
<% end %>

<%= @product.users %>
<% if @product.is_favorited?(current_user) %>
  <%= link_to("Quit favorite", quit_favorite_product_path(@product), method: :post, class: "fa fa-heart") %>
<% else %>
  <%= link_to("Join favorite", join_favorite_product_path(@product), method: :post, class: "fa fa-heart") %>
<% end %>

<table class="table table-striped table-bordered">
  <tbody id="product-review">
    <% @product.reviews.each do |review| %>
      <%= simple_format(review.content) %>
    <% end %>
  </tbody>
</table>

<div class="review-input">
  <%= simple_form_for @review, url: product_reviews_path(@product) do |f| %>
    <%= f.input :content, label: "添加评论" %>
    <%= f.submit "提交", :disable_with => "提交中" %>
  <% end %>
</div>
