<div class="row">
  <div class="col-md-6">
    <%= link_to product_path(@product) do %>
      <% if @product.image.present? %>
        <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <p><%= @product.description %></p>
    <br><br><br><br>
    <p>数量：<%= @product.quantity %></p>
    <p>￥：<%= @product.price %></p>
  </div>
</div>
<% if @product.quantity > 0 %>
  <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-lg btn-danger pull-right") %>
<% else %>
  <span class="pull-right"> 商品已销售一空，无法购买 </span>
<% end %>
